/* TaskList.module.css */

/* Estilos para el contenedor de la lista de tareas */
.task-list-container {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para los elementos de la lista de tareas */
  .task-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilos para el botón de eliminar tarea */
  .delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
  